$loading: ":global(.loading)";

.button-secondary {
  background-color: var(--neutral-100);
  color: var(--primary-1);

  &:not(:disabled, :active):focus {
    outline: 4px solid rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled):hover {
    color: var(--red-400);
  }

  svg path {
    stroke: var(--primary-1);
  }

  &#{$loading} {
    cursor:progress;
    opacity: 1;
  }
}

