.uiKit {
  max-width: 100%;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.inputs {
  display: flex;
  gap: 20px;
  max-width: 419px;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  flex-direction: column;
}

.styled__button {
  color: black;
}

.tab_content {
  margin-top: 60px;
  width: 400px;
  color: #fff;
  min-height: 200px;
}
