@mixin special-headings-display-3 {
  @include font($size: 44px, $weight: 700, $lineHeight: 54px);
  font-family: "THICCCBOI";
}

@mixin special-headings-display-2 {
  @include font($size: 54px, $weight: 700, $lineHeight: 64px);
  font-family: "THICCCBOI";
}

@mixin special-headings-display-4 {
  @include font($size: 28px, $weight: 700, $lineHeight: 40px);
  font-family: "THICCCBOI";
}

@mixin special-headings-display-4 {
  @include font($size: 28px, $weight: 700, $lineHeight: 40px);
  font-family: "THICCCBOI";
}

@mixin headings-typography-1 {
  @include font($size: 54px, $weight: 700, $lineHeight: 66px);
  font-family: "THICCCBOI";
}

@mixin headings-typography-3 {
  @include font($size: 24px, $weight: 700, $lineHeight: 34px);
  font-family: "THICCCBOI";
}

@mixin text-single-400-bold {
  @include font($size: 24px, $weight: 700, $lineHeight: 26px);
  font-family: "THICCCBOI";
}

@mixin text-single-300-medium {
  @include font($size: 20px, $weight: 600, $lineHeight: 22px);
  font-family: "THICCCBOI";
}

@mixin text-single-300-regular {
  @include font($size: 20px, $weight: 500, $lineHeight: 22px);
  font-family: "THICCCBOI";
}

@mixin text-single-200-regular {
  @include font($size: 18px, $weight: 500, $lineHeight: 20px);
  font-family: "THICCCBOI";
}

@mixin text-single-100-bold {
  @include font($size: 16px, $weight: 700, $lineHeight: 18px);
  font-family: "THICCCBOI";
}

@mixin text-single-100-regular {
  @include font($size: 16px, $weight: 400, $lineHeight: 18px);
  font-family: "THICCCBOI";
}

@mixin paragraph-large {
  @include font($size: 24px, $weight: 400, $lineHeight: 38px);
  font-family: "THICCCBOI";
}

@mixin paragraph-default {
  @include font($size: 18px, $weight: 500, $lineHeight: 30px);
  font-family: "THICCCBOI";
}

@mixin paragraph-small {
  @include font($size: 14px, $weight: 400, $lineHeight: 24px);
  font-family: "THICCCBOI";
}

@mixin footer-desc {
  @include font($size: 18px, $weight: 500, $lineHeight: 30px);
  font-family: "Inter";
}
