.root {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-300);
  box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.06);
  border-radius: 6px;
  width: 100%;
  @include text-single-100-regular;
  color: var(--neutral-600);
  padding: 23px 0 25px 23px;

  &:disabled {
    background-color: var(--neutral-100);
    opacity: 0.6;
  }

  &:not(:disabled):focus {
    border: 1px solid var(--neutral-500);
    
    &.input-success {
      border: 1px solid var(--green-300);
    }
    
    &.input-error {
      border: 1px solid var(--red-300);
    }
  }

  &::placeholder {
    color: var(--neutral-500);
    @include text-single-100-regular;
  }

  &.input-success {
    border: 1px solid var(--green-300);
  }
  
  &.input-error {
    border: 1px solid var(--red-300);
  }
}

.error-text {
  display: block;
  margin-top: 2px;
  color: var(--red-300);
}

.error-image {
  position: absolute;
  right: 22px;
  top: 22px;

  svg {
    path {
      stroke: var(--red-300);
    }
  }
}

.success-image {
  position: absolute;
  right: 22px;
  top: 22px;

  svg {
    path {
      stroke: var(--green-300);
    }
  }
}