.root {
    padding: 32px 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 42px;
    height: 42px;
}

.button {
    max-width: 136px;
}

.right-wrapper {

}

.left-wrapper {
    
}

.auth-wrapper {
    display: flex;
}

.link-to-subs {
    @include text-single-300-regular;
    color: var(--neutral-100);
    margin-right: 32px;
}