$loading: ":global(.loading)";

.button-primary {
  background-color: var(--primary-1);
  color: var(--neutral-100);

  &:not(:disabled, :active):focus {
    outline: 4px solid rgba(252, 88, 66, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled):hover {
    background-color: var(--red-400);
  }

  &#{$loading} {
    cursor:progress;
    opacity: 1;
  }
  
}
