@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("../../fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"),
    url("../../fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"),
    url("../../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi Regular"), local("Thicccboi-Regular"),
    url("../../fonts/Thicccboi/Thicccboi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi Bold"), local("Thicccboi-Bold"),
    url("../../fonts/Thicccboi/Thicccboi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi SemiBold"), local("Thicccboi-SemiBold"),
    url("../../fonts/Thicccboi/Thicccboi-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi Medium"), local("Thicccboi-Medium"),
    url("../../fonts/Thicccboi/Thicccboi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi Light"), local("Thicccboi-Light"),
    url("../../fonts/Thicccboi/Thicccboi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
