html {
  scroll-behavior: smooth;
}

body {
  color: #171923;
  font-family: "Inter", "Arial", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background: #181818;

  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
