$loading: ":global(.loading)";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 10px 28px rgba(252, 88, 66, 0.2);
  padding: 20px 24px;
  height: 58px;
  width: 100%;
  max-width: 100%;
  @include text-single-100-bold;

  svg {
    width: 24px;
    height: 24px;
    animation: rotate 1s linear infinite;
  }
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: center;

  &#{$loading} {
    @include visually-hidden;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
