.root {
  position: relative;
  display: flex;
  align-items: center;
}

.link-title {
  @include text-single-300-regular;
  color: var(--neutral-100);
  margin-right: 7px;
}

.link-icon {
  display: block;
  transition: transform .2s;
}

.link-icon-anim {
  transform: rotate(180deg);
  transition: transform .2s;
}

.drop-menu {
  position: absolute;
  left:-100px;
  bottom: -150px;
  width: 188px;
  padding: 28px 0 28px 24px;
  background-color: var(--neutral-700);
  border-radius: 12px;
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-of-type){
    margin-bottom: 33px;
  }
}

.item-icon {
  margin-right: 12px;
}

.item-title {
  @include text-single-300-regular;
  color: var(--neutral-100);
}

.drop-button {
  display: flex;
}