.root {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100vw;
    left: 0;
    bottom: -12px;
    background-color: var(--neutral-600);
  }
}

.tab {
  color: var(--neutral-600);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 0 24px;
  cursor: pointer;

  &:hover {
    color: var(--neutral-400);
  }
}

.selectedTab {
  color: var(--primary-1);
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -12px;
    background-color: var(--primary-1);
    z-index: 10;
  }
}
