.root {
  position: relative;
  width: 28px;
  height: 28px;
}

.checkbox {
  @include visually-hidden;

  &:not(:disabled):hover + .label {
    background-color: var(--red-400);
    transition: 0.1s all;
  }

  &:not(:disabled):focus + .label {
    outline: 4px solid rgba(252, 88, 66, 0.3);
  }

  &:not(:checked, :disabled):focus + .label {
    outline: 4px solid rgba(20, 20, 43, 0.06);
  }

  &:not(:checked, :disabled):hover + .label {
    background-color: var(--neutral-400);
  }

  &:disabled + .label {
    opacity: 0.5;
  }

  &:checked + .label {
    border: none;
    background-color: var(--primary-1);

    svg {
      display: block;
    }
  }
}

.label {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  background: var(--neutral-100);
  border: 1px solid var(--neutral-400);
  border-radius: 7px;

  svg {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);

    path {
      stroke: var(--neutral-100);
    }
  }
}
